/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    scroll-behavior: smooth;
    /* disable the inflation text algorithm on mobile devices */
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* commond css */
.text-center {
    text-align: center !important;
}

.row {
    margin: 0 -8px;
    overflow: auto;
}

.col {
    float: left;
    padding: 0 8px;
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.333%;
}

/* header */

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 49px;
    background-color: black;
    z-index: 1;
}

/* nav */

#nav {
    /* vị trí ok */
    /* kích thước mặc định bằng header do chỉ chứa phần tử div.nav */
    height: 100%;
}

.nav-btn {
    float: left;
    position: relative;
    padding: 15px 25px;
    height: 100%;
    background-color: black;
    list-style-type: none;
    cursor: pointer;
}

.nav-btn a {
    font-size: 15px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#nav-more {
    display: none;
    position: absolute;
    top: 100%;
    list-style-type: none;
    box-shadow: 0px -24px 10px 26px rgb(0,0,0,0.3);
    clear: both;
    z-index: -1;
}

.nav-btn span {
    font-size: 12px;
    color: white;
}

#nav-more li {
    padding: 8px 18px;
    width: 150%;
    margin-left: -25px;
    background-color: white;
    font-size: 15px;
}

.nav-btn:hover {
    background-color: #ccc;
}

.nav-btn:hover a,
.nav-btn:hover span
{
    color: black;
}

.display-hover:hover #nav-more {
    display: block;
}

#nav-more li:hover {
    background-color: #ccc;
}

.mobile-menu {
    font-size: 16px;
    color: #fff;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 16px;
    cursor: pointer;
    display: none !important;
}

/* header search */

.header-search {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 16px 24px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.header-search:hover {
    background-color: #f44336;
}
#slider {
    margin-top: 49px;
    width: 100%;
    position: relative;
}

#slider img {
    width: 100%;
    height: 100%;
}

.slider-content {
    position: absolute;
    left: 50%;
    bottom: 0;
    color: white;
    transform: translateX(-50%);
    margin: 40px 0;
}

.slider-heading {
    padding: 18px 0;
    font-size: 22px;
}

.slider-content::after {
    content: '';
    display: block;
    padding: 6px 0;
}

/* header */


#content {

}

/* about section */

.content-section {
    width: 800px;
    max-width: 100%;
    margin: auto;
    padding: 64px 16px;
}

.content-heading {
    padding: 10px 0;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
}

.content-sub-heading {
    padding: 10px 0;
    font-style: italic;
    color: rgb(163, 163, 163);
    font-weight: 500;
}

.content-detail {
    padding: 15px 0;
    margin-bottom: 15px;
    line-height: 1.5;
    text-align: justify;
}

/* member */

.band-member {
    padding: 32px 0;
}

.member-name {
    padding: 15px 0;
}

.member-avatar img {
    width: 153px;
}

/* tour dates */

.tour-container {
    width: 100%;
    background-color: black;
    padding-bottom: 40px;
}

.tour-section .content-heading {
    color: white;
}

/* tour-time */

.tour-time {
    max-width: 100%;
    margin: 28px 0;
    background-color: white;
}

.time {
    padding: 6px 16px;
    border: 1px solid #ccc;
    color: #ccc;
}

.sold-out {
    display: inline-block;
    margin: 0 24px;
    padding: 6px;
    background-color: orangered;
    color: white;
}

.time:last-of-type {
    line-height: 28px;
}

.time span {
    float: right;
    padding: 0 10px;
    font-size: 16px;
    border-radius: 50%;
    color: white;
    background-color: black;
}

/* tour place */

.tour-place img {
    width: 100%;
}

.tour-place img:hover {
    opacity: 0.6;
}

.tour-detail {
    padding: 12px 16px;
    margin-top: -4px;
    background-color: white;
    text-align: left;
}

.tour-detail .place {
    padding: 5px 0;
    font-weight: 700;
}

.tour-detail .schedule {
    padding: 16px 0;
    color: rgba(0,0,0,0.5);
}

.tour-place .buy-ticket-btn {
    padding: 10px;
    border: none;
    margin: 16px 0 8px;
    font-size: 15px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.tour-place .buy-ticket-btn:hover {
    background-color: #ccc;
    color: black;
}

/* contact */

.contact-section {
    padding: 40px 8px;
}

/* contact-info */
.contact-inf {
    font-size: 18px;
    line-height: 1.5;
}

.contact-inf .fa {
    width: 30px;
}

/* contact-form */

.contact-user .row {
    margin-bottom: 10px;
}

.contact-message {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.row input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.contact-user .user-submit-btn {
    width: auto;
    float: right;
    margin-top: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.contact-user .user-submit-btn:hover {
    background-color: #ccc;
    color: black;
}
/* map */
#map img {
    width: 100%;
}

/* footer */
#footer {
    padding: 68px 0 10px;
    width: 100%;
    text-align: center;
    line-height: 1.2;
}

#footer .social-network {
    padding-bottom: 18px;
    color: rgba(0,0,0,0.5);
    font-size: 25px;
}

#footer .register .quang a {
    text-decoration: none;
    color: black;
}

/* modal tickets */

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: -10%;
        opacity: 1;
    }
}

.modal {
    position: fixed;
    top: -10%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    animation: animatetop 0.4s;
}

.modal.js-modal-open {
    display: flex;
}

.modal-container {
    position: relative;
    width: 900px;
    background-color: white;
}

.modal-header {
    background-color: #009688;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 42px 0;
    letter-spacing: 4px;
}

.modal-content {
    padding: 0 16px;
    font-size: 15px;
}

.modal-content-line {
    padding: 16px 0;
    margin-top: 10px;
}

.modal-content input {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
}

.modal-content .modal-pay {
    padding: 16px 0;
    margin: 16px 0;
    text-align: center;
    background-color: #009688;
    color: white;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 16px;
    font-size: 18px;
    cursor: pointer;
}
.modal-close:hover {
    opacity: 0.5;
}

.modal-footer {
    position: relative;
    margin: 16px;
    font-size: 15px;
}

.modal-footer-close {
    display: inline-block;
    padding: 8px 16px;
    background-color: #f44336;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.modal-footer-close:hover {
    background-color: #ccc;
    color: #000;
}

.modal-footer-close span {
    font-size: smaller;
}
.modal-footer .modal-help {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 0;
}

